

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Kufam:wght@400;700;800;900&family=Source+Sans+3&display=swap');




@tailwind base;
@tailwind components;
@tailwind utilities;


.header1 {
  @apply text-[95px] font-[600] 
}
.header2 {
  @apply text-[38px] font-[600] 
}
.header3 {
  @apply text-[35px] font-[600] 
}

.para {
  @apply text-[20px] font-[400]
}


body {
  margin: 0;
  font-family: 'Kufam','Inter',  'Fira Sans','Source Sans', 'Droid Sans', 'Helvetica Neue',s
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#3B3A5D;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
